<div class="new_item neon-shadow">
    <div class="image">
        <a href="">
            <img src="files/new.jpg" alt="">
        </a>
    </div>
    <div class="body">
        <div class="name">
            <a href="">Обзор 57-дюймового игрового Mini-LED VA-монитора Samsung Odyssey Neo G95NC: с запасом на будущее</a>
        </div>
        <div class="text">Компании Samsung не впервой удивлять рынок своими новинками. Производитель является лидером в выпуске скоростных VA-решений и продолжает оттачивать навыки на все более крупных и технически сложных моделях...</div>
        <div class="bottom_item">
            <div class="date">18.05.2024</div>
            <a href="" class="link">Подробнее</a>
        </div>
    </div>
</div>