include _header.jade
<div class="title_page_block">
    <div class="block_inner">
        <h1>Корзина</h1>
        <div class="path">
            <a href="">Главная</a><span>/</span>Внутренняя
        </div>
        <div class="gr_line"></div>
    </div>
</div>

<div class="cart_page_wr">
    <div class="block_inner">
        <div class="cart_list">
            <div class="cart_item">
                <div class="name">
                    <a href="">Игровой компьютер Royal ROG (Intel Core i9-14900KF, RTX 4080, 64GB RAM, 1000GB M.2, 4000GB HDD)</a>
                </div>
                <div class="inner">
                    <div class="left">
                        <a href="">
                            <img src="files/prod.png" alt="Ваша">
                        </a>
                    </div>
                    <div class="params">
                        <ul>
                            <li>
                                <div class="name">Корпус</div>
                                <div class="val">Computer case Cougar Blazer</div>
                            </li>
                            <li>
                                <div class="name">Процессор</div>
                                <div class="val">Intel Core i5-12400F</div>
                            </li>
                            <li>
                                <div class="name">Материнская плата</div>
                                <div class="val">Biostar H510MH/E DDR4 LGA-1200</div>
                            </li>
                            <li>
                                <div class="name">Видеокарта</div>
                                <div class="val">ASUS TUF Gaming GeForce RTX 3070 Ti 8GB</div>
                            </li>
                            <li>
                                <div class="name">ОЗУ / RAM</div>
                                <div class="val">Lexar 8GB DDR4/2666MHz x2</div>
                            </li>
                            <li>
                                <div class="name">SSD / HDD</div>
                                <div class="val">Biostar M700 NVMe M.2 / 512GB Seagate 2.5" 1000GB</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <div class="delete">Удалить</div>
                    <div class="price_t">
                        <div class="name">Стоимость:</div>
                        <div class="old_price">344.000 ₽</div>
                        <div class="price">284.000 ₽</div>
                    </div>
                </div>
            </div>
            <div class="cart_item">
                <div class="name">
                    <a href="">Видеокарта PALIT GeForce RTX 3060 Ti Dual OC 8GB</a>
                </div>
                <div class="inner">
                    <div class="left">
                        <a href="">
                            <img src="files/prod2.png" alt="Ваша">
                        </a>
                    </div>
                    <div class="params">
                        <ul>
                            <li>
                                <div class="name">Корпус</div>
                                <div class="val">Computer case Cougar Blazer</div>
                            </li>
                            <li>
                                <div class="name">Процессор</div>
                                <div class="val">Intel Core i5-12400F</div>
                            </li>
                            <li>
                                <div class="name">Материнская плата</div>
                                <div class="val">Biostar H510MH/E DDR4 LGA-1200</div>
                            </li>
                            <li>
                                <div class="name">Видеокарта</div>
                                <div class="val">ASUS TUF Gaming GeForce RTX 3070 Ti 8GB</div>
                            </li>
                            <li>
                                <div class="name">ОЗУ / RAM</div>
                                <div class="val">Lexar 8GB DDR4/2666MHz x2</div>
                            </li>
                            <li>
                                <div class="name">SSD / HDD</div>
                                <div class="val">Biostar M700 NVMe M.2 / 512GB Seagate 2.5" 1000GB</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom">
                    <div class="delete">Удалить</div>
                    <div class="price_t">
                        <div class="name">Стоимость:</div>
                        <div class="old_price">344.000 ₽</div>
                        <div class="price">284.000 ₽</div>
                    </div>
                </div>
            </div>
        </div>                                                                                      
        <div class="c_form">
            <div class="total_form">
                <span class="name">Общая стоимость:</span>
                <span class="total">487.500 ₽</span>
            </div>
            <div class="title_form">Оформление заказа</div>
            <div class="form_inner">
                <form action="">
                    <div class="row">
                        <div class="field">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Ваша фамилия">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Ваш номер телефона">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Ваша почта">
                        </div>
                    </div>
                    <div class="name">Доставка:</div>
                    <div class="field radio">
                        <div>
                            <label><input type="radio" checked name="shiping"><span></span>Самовывоз</label>
                        </div>
                        <div>
                            <label><input type="radio" name="shiping"><span></span>Доставка</label>
                        </div>
                    </div>
                    <div class="name">Оплата:</div>
                    <div class="field radio">
                        <div>
                            <label><input type="radio" checked name="pay"><span></span>Наличный расчет</label>
                        </div>
                        <div>
                            <label><input type="radio" name="pay"><span></span>Безналичный расчет</label>
                        </div>
                    </div>
                    <div class="bottom_button">
                        <button type="submit" class="btn_button" value=""><span>Отправить</span></button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>                  

include _footer.jade