include _header.jade
<div class="title_page_block">
    <div class="block_inner">
        <h1>Каталог</h1>
        <div class="path">
            <a href="">Главная</a><span>/</span>Внутренняя
        </div>
        <div class="gr_line"></div>
    </div>
</div>
<div class="categor_block_wr">
    <div class="block_inner">
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat1.png" alt="">
            </span>
            <span class="name">Мониторы</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat2.png" alt="">
            </span>
            <span class="name">Материнские платы</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat3.png" alt="">
            </span>
            <span class="name">Видеокарты</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat4.png" alt="">
            </span>
            <span class="name">Оперативная память</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat5.png" alt="">
            </span>
            <span class="name">Накопители</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat6.png" alt="">
            </span>
            <span class="name">Процессоры</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat7.png" alt="">
            </span>
            <span class="name">Периферия</span>
        </a>
        <a href="products2.html" class="item neon-shadow">
            <span class="image">
                <img src="files/cat8.png" alt="">
            </span>
            <span class="name">Корпусы</span>
        </a>
    </div>
</div>
<div class="slider_block_pr">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn swiper-prev swiper-pr-prev"></div>
        <div class="swiper_arrow_btn swiper-next swiper-pr-next"></div>
    </div>
    <div class="block_inner">
        <div class="title">Готовые сборки</div>
        <div class="gr_line"></div>
        <div class="inner">
            <div class="swiper mySwiper_pr" data-id="mySwiper_pr" data-arrow="pr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="works_gall_wr">
    <div class="title">
        <div class="block_inner">
            <div class="name">Наши работы</div>
            <div class="gr_line"></div>
        </div>
    </div>
    <div class="swiper mySwiper_gal" data-id="mySwiper_gal" id="mySwiper_gal">
        <div class="swiper-wrapper">
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
            <a href="files/gal2.jpg" class="swiper-slide">
                <img src="files/gal2.jpg" alt="">
            </a>
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
            <a href="files/gal2.jpg" class="swiper-slide">
                <img src="files/gal2.jpg" alt="">
            </a>
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="swiper-scrollbar"></div>
</div>
<div class="slider_block_pr">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn swiper-prev swiper-pr-prev"></div>
        <div class="swiper_arrow_btn swiper-next swiper-pr-next"></div>
    </div>
    <div class="block_inner">
        <div class="title">Популярные товары</div>
        <div class="gr_line"></div>
        <div class="inner">
            <div class="swiper mySwiper_pr" data-id="mySwiper_pr" data-arrow="pr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade