include _header.jade
<div class="title_page_block">
    <div class="block_inner">
        <h1>Обзор 57-дюймового игрового Mini-LED VA-монитора Samsung Odyssey Neo G95NC: с запасом на будущее</h1>
        <div class="path">
            <a href="">Главная</a><span>/</span>Внутренняя
        </div>
        <div class="gr_line"></div>
    </div>
</div>
<div class="text_page_content">
    <div class="block_inner">
        <div class="contacts_page">
            <div class="left">
                <div class="contact_item address">
                    <div class="name">Адрес:</div>
                    <div class="body">г. Москва, пр. Для примера 70 Б, 3 этаж</div>
                </div>
                <div class="contact_item phone">
                    <div class="name">Телефоны:</div>
                    <div class="body"><a href="tel:+7 (000) 000-00-00">+7 (000) 000-00-00</a></div>
                </div>
                <div class="contact_item email">
                    <div class="name">E-mail:</div>
                    <div class="body"><a href="mailto:primer@yandex.ru">primer@yandex.ru</a></div>
                </div>
                <div class="contact_item time">
                    <div class="name">Режим работы:</div>
                    <div class="body">Пн-Вс: с 9:00 до 19:00</div>
                </div>
                <div class="soc">
                    <a href="">
                        <img src="files/wh.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/yt.svg" alt="">
                    </a>
                    <a href="">
                        <img src="files/ins.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="right">
                <img src="files/image62.jpg" alt="">
            </div>
        </div>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae28ad51504df43dae0f06db75472882607288d3034f96f2cff9506d088109b73&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
    </div>
</div>
include _footer.jade