include _header.jade
<div class="title_page_block">
    <div class="block_inner">
        <h1>Каталог</h1>
        <div class="path">
            <a href="">Главная</a><span>/</span>Внутренняя
        </div>
        <div class="gr_line"></div>
    </div>
</div>
<div class="news_block_page">
    <div class="block_inner">
        <div class="inner">
            include _new.jade
            include _new.jade
            include _new.jade
            include _new.jade
            include _new.jade
            include _new.jade
        </div>
    </div>
</div>
include _footer.jade