include _header.jade
<div class="product_panel_wr">
    <div class="block_inner">
        <div class="price_t">
            <div class="name">Стоимость:</div>
            <div class="old_price">344.000 ₽</div>
            <div class="price">284.000 ₽</div>
        </div>
        <div class="btn_button buy_btn"><i></i><span>Купить</span></div>
    </div>
</div>
<div class="product_page_wr" style="background-image: url(files/prod_main_bg.jpg);">
    <div class="block_inner">
        <div class="left">
            <div class="name">Игровой компьютер Royal ROG (Intel Core i9-14900KF, RTX 4080, 64GB RAM, 1000GB M.2, 4000GB HDD)</div>
            <div class="old_price">344.000 ₽</div>
            <div class="price">284.000 ₽</div>      
            <div class="btn_button buy_btn"><i></i><span>Купить</span></div>
            <div class="link_anchor_block">
                <a href="#text_body" class="neon-shadow"><span><span>Описание</span></span></a>
                <a href="#params" class="neon-shadow"><span><span>Параметры</span></span></a>
                <a href="#shipping" class="neon-shadow"><span><span>Доставка и оплата</span></span></a>
            </div>
        </div>
        <div class="right">
            <span><img src="files/prod_main.png" alt=""></span>
        </div>
    </div>
</div>
<div class="product_page text_page_content" id="text_body">
    <div class="block_inner">
        <div class="title">Описание</div>
        <div class="text">
            <p>Представляем вашему вниманию уникальный игровой компьютер, с оптимальными характеристиками, которые позволять вам окунуться в мир современных игр на средне-высоких настройках.</p>
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.</p>
        </div>
        <div class="images">
            <a href="files/image1.jpg" class="gall_image">
                <img src="files/image1.jpg" alt="">
            </a>
            <a href="files/image2.jpg" class="gall_image">
                <img src="files/image2.jpg" alt="">
            </a>
            <a href="files/image3.jpg" class="gall_image">
                <img src="files/image3.jpg" alt="">
            </a>
        </div>
        <div class="gr_line"></div>
    </div>
</div>
<div class="slider_game_pr">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn swiper-prev swiper-game-prev"></div>
        <div class="swiper_arrow_btn swiper-next swiper-game-next"></div>
    </div>
    <div class="block_inner">
        <div class="title">подойдет для игр:</div>
        <div class="inner">
            <div class="swiper mySwiper_game" data-id="mySwiper_game" data-arrow="game">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game1.jpg" alt="">
                            </span>
                            <span class="name">Atomic Heart</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game2.jpg" alt="">
                            </span>
                            <span class="name">Dota 2</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game3.png" alt="">
                            </span>
                            <span class="name">CS 2</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game4.png" alt="">
                            </span>
                            <span class="name">Hogwarts Legacy</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game5.png" alt="">
                            </span>
                            <span class="name">Resident Evil 4</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game6.jpg" alt="">
                            </span>
                            <span class="name">Hi-Fi Rush</span>
                        </a>
                    </div>  
                    <div class="swiper-slide">
                        <a href="">
                            <span class="image">
                                <img src="files/game1.jpg" alt="">
                            </span>
                            <span class="name">Atomic Heart</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gr_line"></div>
    </div>
</div>
<div class="conf_block" id="params">
    <div class="block_inner">
        <div class="inner">
            <div class="left">
                <a href="">
                    <img src="files/conf.png" alt="Ваша">
                </a>
            </div>
            <div class="params">
                <ul>
                    <li>
                        <div class="name">Корпус</div>
                        <div class="val">Computer case Cougar Blazer</div>
                    </li>
                    <li>
                        <div class="name">Процессор</div>
                        <div class="val">Intel Core i5-12400F</div>
                    </li>
                    <li>
                        <div class="name">Материнская плата</div>
                        <div class="val">Biostar H510MH/E DDR4 LGA-1200</div>
                    </li>
                    <li>
                        <div class="name">Видеокарта</div>
                        <div class="val">ASUS TUF Gaming GeForce RTX 3070 Ti 8GB</div>
                    </li>
                    <li>
                        <div class="name">ОЗУ / RAM</div>
                        <div class="val">Lexar 8GB DDR4/2666MHz x2</div>
                    </li>
                    <li>
                        <div class="name">SSD / HDD</div>
                        <div class="val">Biostar M700 NVMe M.2 / 512GB Seagate 2.5" 1000GB</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="product_page text_page_content" id="shipping">
    <div class="block_inner">
        <div class="title">Доставка и оплата</div>
        <div class="text">
            <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
            <p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
        </div>
    </div>
</div>

<div class="slider_block_pr">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn swiper-prev swiper-pr-prev"></div>
        <div class="swiper_arrow_btn swiper-next swiper-pr-next"></div>
    </div>
    <div class="block_inner">
        <div class="title">Готовые сборки</div>
        <div class="gr_line"></div>
        <div class="inner">
            <div class="swiper mySwiper_pr" data-id="mySwiper_pr" data-arrow="pr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="works_gall_wr">
    <div class="title">
        <div class="block_inner">
            <div class="name">Наши работы</div>
            <div class="gr_line"></div>
        </div>
    </div>
    <div class="swiper mySwiper_gal" data-id="mySwiper_gal" id="mySwiper_gal">
        <div class="swiper-wrapper">
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
            <a href="files/gal2.jpg" class="swiper-slide">
                <img src="files/gal2.jpg" alt="">
            </a>
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
            <a href="files/gal2.jpg" class="swiper-slide">
                <img src="files/gal2.jpg" alt="">
            </a>
            <a href="files/gal1.jpg" class="swiper-slide">
                <img src="files/gal1.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="swiper-scrollbar"></div>
</div>
<div class="slider_block_pr">
    <div class="swiper_arrow">
        <div class="swiper_arrow_btn swiper-prev swiper-pr-prev"></div>
        <div class="swiper_arrow_btn swiper-next swiper-pr-next"></div>
    </div>
    <div class="block_inner">
        <div class="title">Популярные товары</div>
        <div class="gr_line"></div>
        <div class="inner">
            <div class="swiper mySwiper_pr" data-id="mySwiper_pr" data-arrow="pr">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                    <div class="swiper-slide">
                        include product-item.jade
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>               

include _footer.jade